<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>calculator</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>Controller</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/Controller</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Addition</servlet-name>
		<servlet-class>Addition</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Addition</servlet-name>
		<url-pattern>/Addition</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Subtraction</servlet-name>
		<servlet-class>Subtraction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Subtraction</servlet-name>
		<url-pattern>/Subtraction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Multiplication</servlet-name>
		<servlet-class>Multiplication</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Multiplication</servlet-name>
		<url-pattern>/Multiplication</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Division</servlet-name>
		<servlet-class>Division</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Division</servlet-name>
		<url-pattern>/Division</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Result</servlet-name>
		<servlet-class>Result</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Result</servlet-name>
		<url-pattern>/Result</url-pattern>
	</servlet-mapping>















</web-app>